# IDE directories
.idea
.vscode

# Dice development config
dice.yml

# Dice log
dice.log

# Dice KV stores
dice-store
dice-store.lock
dice-test-store
dice-test-store.lock

# Directory for compiled binaries
.target/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test